In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("C:/Users/Divyansh/Downloads/brain_stroke.csv")
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [5]:
df['gender'].unique()
le1 = LabelEncoder()
df['gender'] = le1.fit_transform(df['gender'])
df['gender'].unique()
df.head()
#male-->1
#female-->0

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,1,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [6]:
#for ever_married
le = LabelEncoder()

# Get unique categories before encoding
original_categories = df['ever_married'].unique()

# Fit and transform the data
df['ever_married'] = le.fit_transform(df['ever_married'])

# Create a mapping of numeric values to original categories
numeric_to_category_mapping = dict(zip(le.transform(original_categories), original_categories))

# Print the mapping
print("Numeric value to category mapping:")
for numeric_value, category in numeric_to_category_mapping.items():
    print(f"{numeric_value}: {category}")
df.head()

Numeric value to category mapping:
1: Yes
0: No

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
2,0,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
3,0,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
4,1,81.0,0,0,1,Private,Urban,186.21,29.0,formerly smoked,1

In [7]:
# work type
# Get unique categories before encoding
original_categories = df['work_type'].unique()

# Fit and transform the data
df['work_type'] = le.fit_transform(df['work_type'])

# Create a mapping of numeric values to original categories
numeric_to_category_mapping = dict(zip(le.transform(original_categories), original_categories))

# Print the mapping
print("Numeric value to category mapping:")
for numeric_value, category in numeric_to_category_mapping.items():
    print(f"{numeric_value}: {category}")
df.head()

Numeric value to category mapping:
1: Private
2: Self-employed
0: Govt_job
3: children

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,Urban,228.69,36.6,formerly smoked,1
1,1,80.0,0,1,1,1,Rural,105.92,32.5,never smoked,1
2,0,49.0,0,0,1,1,Urban,171.23,34.4,smokes,1
3,0,79.0,1,0,1,2,Rural,174.12,24.0,never smoked,1
4,1,81.0,0,0,1,1,Urban,186.21,29.0,formerly smoked,1

In [8]:
#Residence_type
# Get unique categories before encoding
original_categories = df['Residence_type'].unique()

# Fit and transform the data
df['Residence_type'] = le.fit_transform(df['Residence_type'])

# Create a mapping of numeric values to original categories
numeric_to_category_mapping = dict(zip(le.transform(original_categories), original_categories))

# Print the mapping
print("Numeric value to category mapping:")
for numeric_value, category in numeric_to_category_mapping.items():
    print(f"{numeric_value}: {category}")
df.head()

Numeric value to category mapping:
1: Urban
0: Rural

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,formerly smoked,1
1,1,80.0,0,1,1,1,0,105.92,32.5,never smoked,1
2,0,49.0,0,0,1,1,1,171.23,34.4,smokes,1
3,0,79.0,1,0,1,2,0,174.12,24.0,never smoked,1
4,1,81.0,0,0,1,1,1,186.21,29.0,formerly smoked,1

In [9]:
#smoking_status
# Get unique categories before encoding
original_categories = df['smoking_status'].unique()

# Fit and transform the data
df['smoking_status'] = le.fit_transform(df['smoking_status'])

# Create a mapping of numeric values to original categories
numeric_to_category_mapping = dict(zip(le.transform(original_categories), original_categories))

# Print the mapping
print("Numeric value to category mapping:")
for numeric_value, category in numeric_to_category_mapping.items():
    print(f"{numeric_value}: {category}")
df.head()

Numeric value to category mapping:
1: formerly smoked
2: never smoked
3: smokes
0: Unknown

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1

In [13]:
df.info()
print(df['stroke'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int32
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int32
 5   work_type          4981 non-null   int32
 6   Residence_type     4981 non-null   int32
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int32
 10  stroke             4981 non-null   int64
dtypes: float64(3), int32(5), int64(3)
memory usage: 330.9 KB
[1 0]

In [16]:
x = df.iloc[:, :-1]
y = df.iloc[:,-1]
print(x.shape)
print(x.info())
print(y.shape)
print(y.info())
print(y.unique())

(4981, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int32
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int32
 5   work_type          4981 non-null   int32
 6   Residence_type     4981 non-null   int32
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int32
dtypes: float64(3), int32(5), int64(2)
memory usage: 292.0 KB
None
(4981,)
<class 'pandas.core.series.Series'>
RangeIndex: 4981 entries, 0 to 4980
Series name: stroke
Non-Null Count  Dtype
--------------  -----
4981 non-null   int64
dtypes: int64(1)
memory usage: 39.0 KB
None
[1 0]

In [18]:
# Splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.2,random_state=4,stratify=y)
print(X_train.shape)
print(Y_train.shape)

(3984, 10)
(3984,)

In [20]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_train,Y_train)

SVC()

In [21]:
y_test_pred = clf.predict(X_test)
score = accuracy_score(Y_test,y_test_pred)
print(score)

0.9498495486459378

In [33]:
#Naive bayes classifier
from sklearn.naive_bayes import GaussianNB
clf2 = GaussianNB()
clf2.fit(X_train,Y_train)
y_test_pred2 = clf2.predict(X_test)
score = accuracy_score(Y_test,y_test_pred2)
print(score)

0.8495486459378134

In [37]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
clf3 = RandomForestClassifier()
clf3.fit(X_train,Y_train)
y_test_pred3 = clf3.predict(X_test)
score = accuracy_score(Y_test,y_test_pred3)
print(score)

0.9468405215646941

In [41]:
#KNN Classifier
from sklearn.neighbors import KNeighborsClassifier
clf4 = KNeighborsClassifier()
clf4.fit(X_train,Y_train)
y_test_pred4 = clf4.predict(X_test)
score = accuracy_score(Y_test,y_test_pred4)
print(score)

0.9448345035105316

In [22]:
for col in df.columns:
    print(col)

gender
age
hypertension
heart_disease
ever_married
work_type
Residence_type
avg_glucose_level
bmi
smoking_status
stroke

In [26]:
import pickle
# Save the trained model to a file
pickle.dump(clf, open('saved_models/Brain_Strokes.pkl', 'wb'))
loaded_model = pickle.load(open('saved_models/Brain_Strokes.pkl', 'rb'))

In [46]:
#Saving naive bayes classifier
pickle.dump(clf2,open('saved_models/Brain_Stroke_NB.pkl','wb'))

In [49]:
input=(0,49,0,0,1,1,1,250,34.4,3)
inp_as_nparr = np.asarray(input)
resized_inp = inp_as_nparr.reshape(1,-1)
print(resized_inp)
# predn = loaded_model.predict(resized_inp)
predn2 = clf2.predict(resized_inp)
print(predn2)
if predn2[0]==0:
    print("No stroke")
else:
    print("Chances of stroke")

[[  0.   49.    0.    0.    1.    1.    1.  250.   34.4   3. ]]
[1]
Chances of stroke

C:\Users\Divyansh\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(